* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 62.5%; /* set default size to 10px for simplicity */
}

body {
  background: #eee;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0 0 calc(1.5rem * 1.5);
}

h1, h2, h3, .heading {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

img {
  vertical-align: bottom;
  width: 100%;
}

.app-main {
  padding: 20px;
}

@media screen and (min-width: 500px) {
  .app-main {
    padding: 40px;
  }
}

.app-content {
  padding: 5vw;
}

.booking-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
 = BOOKING
 --------------------------
*/

.booking {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem 0;
}

.booking:last-child {
  border-bottom: none;
}

/*.booking > span {*/
  /*padding: 5px;*/
/*}*/

.booking__info {
  align-items: center;
  display: flex;
  flex: 1 auto;
  flex-flow: row wrap;
}

.booking__name {
  font-size: 1.5rem;
  margin: 0 20px 0 0;
}

.booking__buttons {
  text-align: right;
}

.booking__status {
  background: no-repeat 50% 50%;
  background-size: 100% 100%;
  bottom: -3px;
  height: 20px;
  position: absolute;
  right: -3px;
  width: 20px;
}

.booking__status--pending {
  background-image: url(../img/pending.svg);
}

.booking__status--confirmed {
  background-image: url(../img/confirmed.svg);
}

.booking__avatar {
  height: 40px;
  margin-right: 20px;
  position: relative;
  flex: 0 0 40px;
}

.booking__buttons {
  flex: 0 0 auto;
}

.booking__avatar-image {
  border-radius: 50%;
}


/*
 = TABS
 --------------------------
*/

.tabs {
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 1, 0.2);
}

.tabs__tab {
  padding: 0 15px;
}

@media screen and (min-width: 500px) {
  .tabs__tab {
    padding: 0 20px;
  }
}

.tabs__tab-title {
  /*@extend .hidden*/
}

.tabs__nav {
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
}

.tabs__nav-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs__nav-link {
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.tabs__nav-link--active::after {
  border-bottom: 2px solid #3dc76b;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
}

.tab__message--empty {
  padding: 20px 0;
}

/*
 = BUTTONS
 --------------------------
*/
.btn {
  border: none;
  border-radius: 0.3rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: box-shadow ease 0.3s;
}

.btn--primary {
  background: linear-gradient(to bottom, #0097ec 0%,#0091e7 100%);
  box-shadow: 0 2px 1px rgba(0, 145, 231, 0.2);
  color: #fff;
}

.btn--secondary {
  background: linear-gradient(to bottom, #fff 0%,#fbfbfb 100%);
  border: 1px solid #ddd;
  color: #0091e7;
}


/*
 = UTILS
 --------------------------
*/

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
